<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <h1>Welcome to SkillHub, a place where aspiring job seekers could showcase their skills, and job providers to easily see and reach out to them</h1>
    <label type="name">Please enter your Name</label>
    <input type="name" id="name" placeholder="modi" required>
    <label type="">Please Enter your Email</label>
    <input type="email" id="email" placeholder="name@example.com" required>
    <label type="password">Enter a password of your choice</label>
    <input type="password" id="password" placeholder="XXXXXXXXX" required>
    <label type="passwordver">Enter password again</label>
    <input type="password" id="passwordver" placeholder="XXXXXXXXX" required>
    <button>Submit</button>
</body>
</html>